<div class="wrapper">
  <h1>Powiadomienia</h1>
  <table>
    <tr>
      <th>Powiadomienie</th>
      <th>Akcja</th>
    </tr>
    <tr *ngFor="let notification of notifications" matColumnDef="name">
      <td>{{ notification.text }}</td>
      <td>
        <button
          mat-button
          mat-stroked-button
          color="accent"
          (click)="joinHome(notification.notificationId, notification.homeId)"
        >
          Dołącz</button
        ><button
          mat-button
          mat-raised-button
          color="warn"
          (click)="deleteNotification(notification.notificationId)"
        >
          Usuń
        </button>
      </td>
    </tr>
  </table>
</div>
