mat-card {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.user-wrapper {
  overflow-y: scroll;
  height: -webkit-fill-available;
}

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

h2{
  color:white;
}
