<div class="card user centY">
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>
      <mat-card class="textCent green ">
        <h1 class="noMargin">1</h1>
        <div>Kwie</div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="textCent red">
        <h1 class="noMargin">2</h1>
        <div>Kwie</div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="textCent red">
        <h1 class="noMargin">3</h1>
        <div>Kwie</div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="textCent">Nadchodzące wydatki/przychody</div>
</div>
