<div *ngIf="expenses.length>0" class=" user ">
    <div>
        <canvas baseChart
            height="120px"
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          [colors]="doughnutChartColors"
          [legend]=false>
        </canvas>
    </div><br>
    <h3 class="black">Wydatki(ostatni miesiąc): {{expenseSum}} zł</h3>
  </div>

  <div class="empty" *ngIf="!expenses || expenses.length===0">
    <div>Brak wydatków w ostatnim miesiącu</div>
    <div>Kliknij aby dodać</div>

  </div>
