$background-color: #ffffff;
$primary-color: #7265fa;

$warning: #b74747;
$good: #77dd77;
$neutral: #ffc02a;

mat-card {
  border-radius: 20px;
  cursor: pointer;
  transition: 400ms;
  &:not(.dashbord-main):hover {
    &.primary {
      background-color: lighten($color: $primary-color, $amount: 10);
    }
    background-color: darken($color: $background-color, $amount: 10);
    transition: 400ms;
    .logout * {
      fill: red;
    }
  }
}

.dashbord-main {
  max-width: 1300px;
  margin: auto !important;
  height: fit-content;
  padding: 2rem;
  max-height: fit-content !important;
  //border: 1px solid black;
}

.primary {
  background-color: $primary-color;
}

.good {
  background-color: $good;
}
.warning {
  background-color: $warning;
}
.neutral {
  background-color: $neutral;
}
.pink {
  background-color: #f5aab6;
}
.home {
  background-color: #99c5f0;
}

mat-icon {
  transform: scale(2);
}

mat-card {
  height: 168px;
  &.small {
    height: 68px;
  }
  &.big {
    height: fit-content;
    max-height: 268px;
  }
  &.medium{
    height: 200px;
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1278px) {
  .lg {
    padding-right: 0 !important;
  }
}

.nd{
  height: fit-content;
}

@media only screen and (max-width: 1278px) and (min-width: 958px) {
  .md {
    padding-right: 0 !important;
  }
}

@media only screen and (max-width: 958px) {
  .sm {
    padding-right: 0 !important;
  }
}
