
<div class="logo"><img src="../../../assets/logo.png" height="100px">CASHBUDDY</div>
<mat-card class="dashbord-main mat-elevation-z5">
<mat-grid-list cols="10" rowHeight="100px" gutterSize=1rem>
    <mat-grid-tile colspan=3 rowspan=2>
        <div class="grid">
        <mat-card [class.warning]="user.saldo<0" [class.neutral]="user.saldo==0" [class.good]="user.saldo>0">
            <app-saldo [user]=user></app-saldo>
        </mat-card>
    </div>
    </mat-grid-tile>

    <mat-grid-tile colspan=3 rowspan=2>
        <div class="grid">
        <mat-card *ngIf="expenses">
            <app-expenses [expenses]="expenses"></app-expenses>
        </mat-card>
    </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=4 rowspan=2>
        <div class="grid">
        <mat-card class="primary">
            <app-profile [user]=user></app-profile>
        </mat-card>
    </div>
    </mat-grid-tile>
    
    <mat-grid-tile colspan=4 rowspan=1>
        <div class="grid">
        <mat-card *ngIf="expenses" class="pink">
            <app-income [expenses]="expenses"></app-income>
        </mat-card>
    </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=1>
        <div class="grid logout">
        <mat-card>
            <mat-icon  matBadge="10" matBadgePosition="after" matBadgeOverlap="false" matBadgeColor="warn">notifications_none</mat-icon>
        </mat-card>
    </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=2 rowspan=2>
        <div class="grid">
        <mat-card>
            <app-target-progress></app-target-progress>
        </mat-card>
    </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=3 rowspan=2>
        <div class="grid">
        <mat-card *ngIf="expenses">
            <app-calendar [expenses]="expenses"></app-calendar>
        </mat-card>
    </div>
    </mat-grid-tile>
    
    
    <mat-grid-tile colspan=5 rowspan=3>
        <div class="grid">
        <mat-card *ngIf="expenses">
            <app-diagram [expenses]="expenses"></app-diagram>
        </mat-card>
    </div>
    </mat-grid-tile>

    <mat-grid-tile colspan=4 rowspan=2>
        <div class="grid">
        <mat-card class="home">
            <app-home [userId]="user.userId"></app-home>
        </mat-card>
    </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=1>
        <div class="grid">
        <mat-card>
            <mat-card-content>
                <mat-icon>settings</mat-icon>
            </mat-card-content>
        </mat-card>
    </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=1>
        <div class="grid logout">
        <mat-card (click)="logout()">
            <mat-card-content>
                <app-logout></app-logout>
            </mat-card-content>
        </mat-card>
    </div>
    </mat-grid-tile>
        
  </mat-grid-list>
</mat-card>