

<mat-grid-list cols="5" rowHeight="300px" gutterSize=1rem>
    <mat-grid-tile colspan=2 rowspan=2>
        <div class="grid">
        <mat-card>
            <mat-card-content>asd</mat-card-content>
        </mat-card>
    </div>
    </mat-grid-tile>

    <mat-grid-tile colspan=1 rowspan=2>
        <div class="grid">
        <mat-card>
            <mat-card-content>asd</mat-card-content>
        </mat-card>
    </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=1>
        <div class="grid">
        <mat-card>
            <mat-card-content>asd</mat-card-content>
        </mat-card>
    </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=1>
        <div class="grid">
        <mat-card>
            <mat-card-content>asd</mat-card-content>
        </mat-card>
    </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=2 rowspan=1>
        <div class="grid">
        <mat-card>
            <mat-card-content>asd</mat-card-content>
        </mat-card>
    </div>
    </mat-grid-tile>
    
        
  </mat-grid-list>