
<div class="dashbord-main">
<mat-grid-list cols="10" rowHeight="100px" gutterSize=1rem>
    <mat-grid-tile colspan=3 rowspan=2>
        <div class="grid">
        <mat-card >
            <app-saldo></app-saldo>
        </mat-card>
    </div>
    </mat-grid-tile>

    <mat-grid-tile colspan=1 rowspan=2>
        <div class="grid">
        <mat-card>
            <mat-card-content>asd</mat-card-content>
        </mat-card>
    </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=1>
        <div class="grid">
        <mat-card>
            <mat-card-content>asd</mat-card-content>
        </mat-card>
    </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=1 rowspan=1>
        <div class="grid">
        <mat-card>
            <mat-card-content>
                <mat-icon>arrow_right_alt</mat-icon>
            </mat-card-content>
        </mat-card>
    </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=2 rowspan=1>
        <div class="grid">
        <mat-card>
            <mat-card-content>asd</mat-card-content>
        </mat-card>
    </div>
    </mat-grid-tile>
    
        
  </mat-grid-list>
</div>