mat-card{
    display:block;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

mat-grid-tile{
    padding:1rem;
}

.grid{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    padding: 2rem;
}