#login-content {
  margin: auto;
  width: fit-content;
  top: 50%;
  margin-top: -250px;
  display: flex;
  position: relative;
  mat-form-field {
    width: 100%;
  }
  text-align: center;
}

mat-card {
  padding: 3rem;
  input {
    font-size: large;
  }
  mat-icon {
    position: relative;
    top: 3px;
  }
}

mat-card-title {
    span{
        float:left;
    }
  margin-bottom: 3rem;
}

mat-card-actions {
  button {
    width: 70%;
  }
  span {
    cursor: pointer;
    margin-top: 1rem;
    display: block;
  }
}



form{
    overflow:hidden;
    margin-top: 2rem;
}