/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100%;
  margin:0;
  padding:1rem;
  overflow:hidden;
  background-color: rgba(208, 237, 247, 0.3);
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: BMP;
  src: url(assets/BMP.ttf) format("opentype");
}

@font-face {
  font-family: GUR;
  src: url(assets/GUR.ttf) format("opentype");
}